# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# Raw IBM dataset (large original file)
data/ibm_raw/